[Desktop Entry]
Version=1.0
Name=Syncthing
Comment=Syncthing
Exec=chromium --new-window --ozone-platform=wayland --app="http://127.0.0.1:8384/" --name="Syncthing" --class="Syncthing"
Terminal=false
Type=Application
Icon=/home/vitek/.local/share/applications/icons/Syncthing.png
StartupNotify=true
